%h1= @employee_list.gym_name + ' Employees'

#employee_list
  .header.email Email
  .header.role Role
  = render partial: 'employee', collection: @employee_list.employees

- if policy(@employment_form.employment).new?
  #new_employee
    %h2 Add New Employee
    %p
      To give an existing employee another role, simply enter their email and
      select the desired role.
    = render_as_local :employment_form
