%h1= "#{@employee_list.gym_name} Employees"

%table
  %tr
    %th Email
    %th Role
  = render partial: 'employee', collection: @employee_list.employees

%h2 Add New Employee
= render partial: 'form', locals: { employment_form: @employment_form }
