%h1= "#{@gym.name} Employees"

%table
  %tr
    %th Email
    %th Role
  = render partial: 'table_row', collection: @gym.employments, as: :employment

%h2 Add New Employee
= render partial: 'form', locals: { employment_form: @employment_form }
