.navigation {
  $navbar-padding: 1em;
  $navbar-background: $dark-gray;
  $navbar-color-hover: white;
  $navbar-color: $lightest-gray;
  $navbar-height: 60px;
  $horizontal-bar-mode: $large-screen;

  background-color: $navbar-background;
  border-bottom: 1px solid darken($navbar-background, 10);
  min-height: $navbar-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container(100%);

    position: relative;
    z-index: 9999;
  }

  .logo {
    color: $accent-color;
    float: left;
    max-height: $navbar-height;
    padding-left: $navbar-padding;
    padding-right: 2em;

    i {
      font-size: 200%;
      height: $navbar-height;
      padding: (em($navbar-height) - $base-font-size * 2) / 4 0;

      &:focus,
      &:hover {
        color: lighten($accent-color, 20%);
      }
    }
  }

  // Mobile view

  #navbar_menu_button {
    color: $navbar-color;
    display: block;
    float: right;
    line-height: $navbar-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navbar-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navbar-height;
    z-index: 9999999;

    @include media($horizontal-bar-mode) {
      float: left;
    }
  }

  #navbar-main-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  .nav-link {
    background: $navbar-background;
    display: block;
    line-height: $navbar-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navbar-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navbar-color;
      display: inline-block;
      text-decoration: none;

      @include media($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navbar-color-hover;
      }
    }
  }

  .active-nav-item a {
    color: $navbar-color-hover;
  }
}
