// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Lustria', serif;
$max-header-to-increase-font-size: 4;
$modular-scale-ratio: $major-third;

// Font Sizes
$absolute-base-font-size: 16px;
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $small-spacing / 2;
$base-z-index: 0;

// Colors
$action-color: color('grey', 'darken-3');
$action-color-hover: color('grey', 'darken-2');
$accent-color: color('grey', 'darken-2');
$accent-color-hover: lighten($accent-color, 15%);

// Font Colors
$base-font-color: color('grey', 'darken-4');
$light-font-color: color('grey', 'lighten-5');

// Background and Border Colors
$base-background-color: color('grey', 'lighten-4');
$base-border-color: color('grey', 'lighten-1');

$secondary-background-color: color('grey', 'lighten-5');
$secondary-border-color: darken($secondary-background-color, 15%);

$input-background-color: transparent;

// Message Colors
$message-alert: color('red', 'lighten-1');
$message-warning: color('yellow', 'lighten-1');
$message-notice: color('green', 'lighten-1');

// Climb Colors
$climb-colors: (
  red: color('red'),
  pink: color('pink'),
  purple: color('purple'),
  blue: color('blue'),
  teal: color('teal'),
  green: color('green'),
  yellow: color('yellow'),
  orange: color('orange'),
  brown: color('brown'),
  black: color('shades', 'black'),
  white: color('shades', 'white')
);

// Border
$base-border-width: 1px;
$base-border: $base-border-width solid $base-border-color;
$secondary-border: $base-border-width solid $secondary-border-color;
$dark-border: $base-border-width solid $base-font-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-input-height: $base-line-height + 2 * ($base-border-width / $absolute-base-font-size + $small-spacing);

// Animations
$base-duration: 150ms;
$base-timing: ease;
