%section#current_section{ data: { section_id: section.id } }
  %h2= section.name

  #climbs
    - section.climbs.each do |climb|
      = link_to climb.grade || '?',
                  athletes_climb_logs_path,
                  class: Climb.color_name_for(climb.color),
                  remote: true,
                  method: :post,
                  data: { params: { climb_log: { climb_id: climb.id } } }

  - if policy(Section).new?
    = link_to 'Add Climb', new_climb_path, remote: true, class: 'new-climb-link'
