%section#current_section{ data: { section_id: section.id } }
  %h2= section.name

  #climbs
    - section.climbs.each do |climb|
      = link_to climb.grade || '?', '#', class: Climb.color_name_for(climb.color)

  = link_to 'Add Climb', new_climb_path, remote: true, class: 'new-climb-link'
