.gyms.show {

  #climbs {
    margin-bottom: $base-spacing;
    max-width: 30em;

    @include display(flex);
    @include flex-wrap(wrap);

    .button_to input[type="submit"] {
      @include compact-bitter-button;
      @include no-color-button;

      border-radius: 0;
      margin: 1px;
      text-align: center;
      width: 4em;

      @each $color-name, $color-value in $climb-colors {
        &.#{$color-name} {
          background: none;
          @if $color-name == white {
            @include button-color($color-value);
          } @else {
            @include button-color($color-value, $border: $color-value solid 1px);
          }
        }
      }
    }
  }

  #current_section {
    @include flex-grow(1);

    .button_to {
      display: inline-block;
      float: right;
    }
  }

  #current_section,
  .histograms {
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      margin-left: $base-spacing;
      margin-right: $base-spacing;
    }
  }

  .edit-gym-link {
    float: right;
    margin-top: $small-spacing;

    @include bitter-button;
  }

  .gym-details {
    border-radius: 0;
    display: block;
    margin: 0 auto;

    @include button-color($secondary-background-color, $border: $secondary-border);

    h1 {
      margin: 0;
    }
  }

  .gym-info {
    @include display(flex);
    @include flex-direction(column);
    @include media($medium-screen) {
      @include align-items(flex-start);
      @include flex-direction(row);
    }

    > * {
      margin-top: $base-spacing;
    }

    .histograms {
      min-width: 0;
    }
  }

  .histograms {
    @include display(flex);
    @include flex-grow(1);
    @include flex-direction(column);

    .route-histogram,
    .boulder-histogram {
      border: $secondary-border;
      margin-bottom: $small-spacing;
    }
  }

  .change-section {
    margin-top: $base-spacing;

    @include bitter-button($secondary-background-color, $border: $dark-border);
    display: none;

    .fa {
      float: right;
    }
  }

  .sections {
    @include vertical-button-group($unselected-background-color: $secondary-background-color, $item-container-selector: li, $item-selector: a);
  }

  .new-climb-link {
    @include bitter-button;
  }
}
