.gyms.show {

  #climbs {
    margin-bottom: $base-spacing;
    max-width: 30em;

    @include display(flex);
    @include flex-wrap(wrap);

    .button_to input[type="submit"] {
      @include compact-bitter-button;
      @include no-color-button;

      border-radius: 0;
      margin: 1px;
      text-align: center;
      width: 4em;

      @each $color-name, $color-value in $climb-colors {
        &.#{$color-name} {
          background: none;
          @include button-color($color-value);
        }
      }
    }
  }

  #current_section {
    @include flex-grow(1);

    .button_to {
      display: inline-block;
      float: right;
    }
  }

  #current_section,
  .histograms {
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      margin-left: $base-spacing;
      margin-right: $base-spacing;
    }
  }

  .edit-gym-link {
    float: right;
    margin-top: $small-spacing;

    @include bitter-button(white, $border: $dark-border);
  }

  .gym-details {
    border-radius: 0;
    display: block;
    width: 100%;

    @include button-color($secondary-background-color, $border: $base-border, $text-color: rgba(black, .5));
    @include button-shadow;

    h1 {
      margin: 0;
    }
  }

  .gym-info {
    @include display(flex);
    @include flex-direction(column);
    @include media($medium-screen) {
      @include align-items(flex-start);
      @include flex-direction(row);
    }

    > * {
      margin-top: $base-spacing;
    }

    .histograms {
      min-width: 0;
    }
  }

  .histograms {
    @include display(flex);
    @include flex-grow(1);
    @include flex-direction(column);

    .route-histogram,
    .boulder-histogram {
      border: $base-border;
      margin-bottom: $small-spacing;

      @include card-shadow;
    }
  }

  .change-section {
    margin-top: $base-spacing;

    @include bitter-button($secondary-background-color, $border: $dark-border);
    display: none;
    @include button-shadow;

    .fa {
      float: right;
    }
  }

  .sections {
    @include vertical-button-group($unselected-background-color: $secondary-background-color, $item-container-selector: li, $item-selector: a);
    @include card-shadow;
  }

  .new-climb-link {
    @include bitter-button;
  }
}
