.gyms.show {

  #climbs {
    max-width: 30em;

    @include display(flex);
    @include flex-wrap(wrap);

    .button_to input[type="submit"] {
      @include compact-bitter-button;
      @include no-color-button;

      border-radius: 0;
      margin: 1px;
      text-align: center;
      width: 4em;

      @each $color-name, $color-value in $climb-colors {
        &.#{$color-name} {
          background: none;
          @include button-color($color-value);
        }
      }
    }
  }

  #current_section {
    @include flex-grow(1);

    margin-top: $base-spacing;
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      margin-left: $base-spacing;
      margin-right: $base-spacing;
    }
  }

  .edit-gym-link {
    float: right;
    margin-top: $small-spacing;

    @include bitter-button(white, $border: $dark-border);
  }

  .gym-details {
    border-radius: 0;
    display: block;
    width: 100%;

    h1 {
      margin: 0;
    }
  }

  .gym-info {
    @include display(flex);
    @include flex-direction(column);
    @include media($medium-screen) {
      @include align-items(flex-start);
      @include flex-direction(row);
    }

    > * {
      margin-top: $base-spacing;
      min-width: 0;
    }
  }

  .histograms {
    @include display(flex);
    @include flex-grow(1);
    @include flex-direction(column);
  }

  .change-section {
    margin-top: $base-spacing;

    @include bitter-button(white, $border: $dark-border);
    display: none;

    .fa {
      float: right;
    }
  }

  .sections {
    background-color: $emphasis-background-color;
    padding: $small-spacing;
    padding-bottom: 0;

    > * {
      a {
        @include bitter-button(white, $border: 0);
        border-radius: 0;
        margin-bottom: $small-spacing;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        width: 100%;
      }

      a.active {
        @include button-color($base-font-color);
      }
    }
  }

  .new-climb-link {
    @include bitter-button;
    margin-top: $base-spacing;
  }

  #reset {
    float: right;
    margin-top: $base-spacing;
  }
}
