.profile.show {
  header {
    border-bottom: $base-border;

    @include display(flex);
    @include justify-content(space-between);
    @include align-items(baseline);

    h2 {
      margin-bottom: $tiny-spacing;
    }

    .fa-pencil {
      font-size: 1.5em;
    }
  }

  table {
    margin: 0 $small-spacing;
    table-layout: auto;

    * {
      border: 0;
    }

    td {
      padding-left: $base-spacing;

      &:first-child {
        font-weight: bold;
        padding-left: 0;
        text-align: right;
      }
    }
  }
}
