%table#gyms
  %tr
    %th{ colspan: '2' } Gym
  - @gyms.each do |gym|
    %tr
      %td
        = link_to gym.name, gym
      %td
        = icon 'minus'

= link_to 'Create a New Gym', new_gym_path, id: 'new_gym'
