%table#gyms
  %tr
    %th{ colspan: '2' } Gym
  - @gyms.each do |gym|
    %tr
      %td
        = link_to gym.name, gym
      %td
        -# TODO: only show for admins and managers
        = link_to 'Employee List', gym_employees_path(gym)

- if GymPolicy.new(current_user, Gym).new?
  = link_to 'Create a New Gym', new_gym_path, id: 'new_gym'
