%table#gyms
  %tr
    %th{ colspan: '2' } Gym
  - @gyms.each do |gym|
    %tr
      %td
        = link_to gym.name, gym
      %td
        - if policy(EmployeeList.new(gym)).index?
          = link_to 'Employee List', gym_employments_path(gym)

- if policy(Gym).new?
  = link_to 'Create a New Gym', new_gym_path, id: 'new_gym'
