nav {
  $background-color: $secondary-background-color;
  $font-color: $base-font-color;
  $divider-border: 2px solid darken($background-color, 10%);
  $font-size: 1rem;
  $line-height: 2rem;
  $padding: 1rem;
  $interior-padding: $padding / 4;

  background-color: $background-color;
  font-size: $font-size;
  padding: $padding;

  @include clearfix;

  * {
    color: $font-color;
    display: block;
    padding: 0 $interior-padding;

    &:active,
    &:focus,
    &:hover {
      color: lighten($font-color, 30%);
    }

    @include media($medium-screen) {
      display: inline;
      float: none;
    }
  }

  & > * {
    line-height: $line-height;
    vertical-align: middle;
  }

  #collapsable_content {
    clear: both;
    display: none;
    padding: 0;
    padding-top: $interior-padding;

    @include media($medium-screen) {
      clear: none;
      padding: 0;
    }
  }

  .logo {
    color: $accent-color;
    float: left;
    font-size: 2 * $font-size;

    &:active,
    &:focus,
    &:hover {
      color: $light-font-color;
    }

    .fa {
      color: inherit;
    }
  }

  #navbar_main_menu,
  #navbar_tools {
    border-top: $divider-border;
    margin-top: $interior-padding * 2;
    padding-top: $interior-padding;
    width: 100%;

    & * {
      text-align: right;
    }

    @include media($medium-screen) {
      border: 0;
      margin-top: 0;
      padding-top: 0;
      width: auto;

      & * {
        text-align: left;
      }
    }
  }

  @include media($medium-screen) {
    #navbar_main_menu {
      float: left;
    }

    #navbar_tools {
      float: right;
    }
  }

  #navbar_menu_button {
    float: right;
  }
}
